
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f5; 
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}


.series-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.serie-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 180px; 
  margin: 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.serie-card:hover {
  transform: scale(1.05); 
}

.serie-card img {
  width: 100%; 
  height: auto;
  border-radius: 10px 10px 0 0;
}

.serie-card h3 {
  margin: 10px 0;
  font-size: 16px;
  color: #444;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}


@media (max-width: 768px) {
  .series-list {
    flex-direction: column;
    align-items: center;
  }

  .serie-card {
    width: 80%;
  }
}
